cmake_install.cmake
CMakeCache.txt
build/mac/_deps
build/mac/CMakeFiles
build/mac/CMakeScripts
build/mac/shademachine.xcodeproj
build/mac/deps
build/mac/src
build/mac/shademachine.build
*.vcxproj
*.filters
*.sln
build/win/.vs/
build/win/CMakeFiles/
build/win/deps/
build/win/src/
build/win/x64/
test/cpp/
test/GL_3_2/
test/GLES_3_0/
test/GLES_3_2/
test/hlsl/
test/metal/
test/ref/
test/vulkan/
