[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = git@gitlab.com:msgw/external/cxxopts.git
[submodule "deps/SPIRV-Headers"]
	path = deps/SPIRV-Headers
	url = git@gitlab.com:msgw/external/SPIRV-Headers.git
[submodule "deps/SPIRV-Tools"]
	path = deps/SPIRV-Tools
	url = git@gitlab.com:msgw/external/SPIRV-Tools.git
[submodule "deps/glslang"]
	path = deps/glslang
	url = git@gitlab.com:msgw/external/glslang.git
[submodule "deps/SPIRV-Cross"]
	path = deps/SPIRV-Cross
	url = git@gitlab.com:msgw/external/SPIRV-Cross.git
[submodule "deps/shaderc"]
	path = deps/shaderc
	url = git@gitlab.com:msgw/external/shaderc.git
